.cabecalho{
     background-color: var(--color-white);
     /* display: grid;
     flex-direction: row;      */
     display: flex;
     align-items: center;
     justify-content: space-between;
     
}

.btn{
     margin-left: auto;
     margin-right: 10px;
}
.centro{
     
    text-align: center;
              
}